<%= form_for(@blog) do |f| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body  %>
  </div>
  <div class="field">
    <%= f.label :image %><br />
    <%= f.text_field :image %> Not implemented yet, feel free to leave blank!
  </div>
  <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
  <div class="field">
	<% @cd = Date.today.to_s %>
    
    <%= f.hidden_field :Date_Created, :value => @cd %>
  </div>
  <div class="cap">
  <script type="text/javascript"
     src="http://www.google.com/recaptcha/api/challenge?k=6LcJ8-ISAAAAAHKFVDEImRwdyfifIPYRS5CUhewt ">
  </script>
  <noscript>
     <iframe src="http://www.google.com/recaptcha/api/noscript?k=6LcJ8-ISAAAAAHKFVDEImRwdyfifIPYRS5CUhewt "
         height="300" width="500" frameborder="0"></iframe><br>
     <textarea name="recaptcha_challenge_field" rows="3" cols="40">
     </textarea>
     <input type="hidden" name="recaptcha_response_field"
         value="manual_challenge">
  </noscript>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
