<%= form_for(@blog) do |f| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_field :body %>
  </div>
  <div class="field">
    <%= f.label :image %><br />
    <%= f.text_field :image %> Not implemented yet, feel free to leave blank!
  </div>
  <div class="field">
    <%= f.label current_user.id %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
  <div class="field">
	<% @cd = Date.today.to_s %>
    <%= f.label @cd%>
    <%= f.hidden_field :Date_Created, :value => @cd %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
