<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>


<p>
  
  <%= @blog.image %>
</p>
<p>
  
<h2> <%= @blog.title %></h2>
 
</p>
<br>
<p>
  <%= @blog.body %>
</p>
<br>
<hr>
<% if !@blog.comments.empty? %>
<table>
     <% @blog.comments.reverse.each do |comment|%>
      <tr >
        <td>
          <p id ="comment">
           <%if User.find(comment.user_id)%>
             <% @users = User.find(comment.user_id)%>
             <%= @users.username %> said...
           <%  end %>
          </p>
        
        </td>
      </tr>
      <tr>
        <td>
          <p id="commentbody">
            <%= comment.commentbody%>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p id="commentdate">
            <%=  comment.created_at%>
          </p>
          
        </td>
      </tr>
      <tr>
        <td>
      
        </td>
      </tr>
      <%end%>
</table>

<%  else %>
<br>
<br>
<strong>
No current comments, be the first  leave a comment!
</strong>
<% end %>
<%= form_tag(comment_add_blog_path()) %>
<br>
<p>
<%= text_area_tag :commentbody %>
<%= hidden_field_tag :user_id, session[:user_id] %>
</p>

<p>
<%= submit_tag 'Submit Comment' %>
</p>

