<%= form_tag search_path, :method => 'get' do %>
<h1>Search</h1>
<br>
<p>
<%= label_tag :search_text %>
<%= text_field_tag :search_text %>
&nbsp
<%= label_tag 'By'  %>
<%= select_tag :search_parameter, raw(["<option>username</option>","<option>email</option>"]) %>
</p>

<%= submit_tag 'Search' %>

<% end %>
<br>
<%= @search_error %>
<% if @results %>
<table style="text-align:center">
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th>Link to blog</th>
    
  </tr>
  <% @results.each do |results|%>
  <tr>
    <td><%= results.username %></td>
    <td><%= results.email  %></td>
    <td> <%= link_to "view", user_path(results.username)%></td>
  </tr>

  <% end %>
  </table>
<%end%>