

<div id = "blog_profile_container">
<%if @usersblog.profile_picture != nil%>
  <%= image_tag(@usersblog.profile_picture) %><br><br>
<%else%>
  <%= image_tag "defaultpicture.png" %>
<%end%>
Email: <br><%= @usersblog.email %><br><br>
Username: <br><%= @usersblog.username %><br><br>
<pre-wrap>
<% if @usersblog.comment != nil %>
<% Sanitize.clean(@usersblog.comment.html_safe, {
					:elements =>['iframe'],
					:attributes => {'iframe' => ['src','width','height','frameborder' 'allowfullscreen']}})%>
<%= @usersblog.comment.html_safe %>
<% else %>
  When you add a comment it will show up here!
<%end%>
</pre-wrap>
</div>
<div id ="blog_container">
<p>
<%if @usersblog.id == session[:user_id]%>
	<%= link_to "New Post", new_blog_path %>
<%end%>
</p>

<% @usersblog.blogs.sort! {|a,b| rel = a.created_at <=> b.created_at} %>
<% @usersblog.blogs.reverse.each do |post| %>
<div>
<table id="post<%=  post.id %>">
<tr>
<td><h2><%= post.title %></h2></td>
</tr>
<tr>
<td id="timestamp">Posted on: <%= post.Date_Created %></td>
</tr>

<tr>
   
<td style = "width:1000px;">
<pre>
<% Sanitize.clean(post.body, :add_attributes =>{
					:elements =>['iframe','img'],
					:attributes => {'iframe' => ['src','width','height','frameborder' 'allowfullscreen'],
									'img' => ['a','href','width','height','src']}})%>
<%= post.body.html_safe %>

</pre>
</tr>
<tr>
<p id="commentcount">
  <% @sample = post.comments.count.to_s %>
  <%if @usersblog.id == session[:user_id]%>
  <td><%= link_to @sample+ " Comments", show_comments_path(post) %></td><td><%= link_to "Edit", edit_blog_path(post) %>
      <%= link_to 'Destroy', post, data:{confirm: 'Are you sure?'}, method: :delete, remote: true %></td>
  <%end%>
</p>

</td>
</tr>

<tr>
  <td><hr><td>
</tr>
</div>
</table>
<%end%>

  
</div>
