

<div id = "blog_profile_container">
	<%= image_tag(@usersblog.profile_picture) %>
	</br>
	Email: <%= @usersblog.email %>
	</br>
	</br>
	Username: <%= @usersblog.username %>
	</br>
	</br>
	<%= @usersblog.comment %>
	</div>

<% @usersblog.blogs.each do |post| %>
<div id ="blog_container">
<table>

<tr>
<td><h2><%= post.title %></h2></td>
</tr>
<tr>
<td id="timestamp">Posted on: <%= post.Date_Created %></td>
</tr>
<tr>
<td><%= post.body %></td>
</tr>

</table>
</div>
<br>
<br>


<%end%>